<table>
    <tr>
        <td style="text-align:right">email & iMessage</td>
        <td><span class="big">me[at]kqh[dot]me</span></td>
    </tr>
    <tr>
        <td style="text-align:right">Mastodon</td>
        <td><span class="big"><a rel="me" href="https://alive.bar/@kqh" target="_blank">kqh</a></span></td>
    </tr>
    <tr>
        <td style="text-align:right">bilibili</td>
        <td><span class="big"><a href="https://space.bilibili.com/176570453" target="_blank">赫赫文王</a></span>
            <img src="https://img.shields.io/badge/dynamic/json?color=c41011&label=bilibili%E9%97%9C%E6%B3%A8&query=%24.data.totalSubs&url=https%3A%2F%2Fapi.spencerwoo.com%2Fsubstats%2F%3Fsource%3Dbilibili%26queryKey%3D176570453"
                height="23px">
        </td>
    </tr>
    <tr>
        <td style="text-align:right">網易雲音樂</td>
        <td><span class="big"><a href="https://music.163.com/#/artist?id=13612790" target="_blank">赫赫文王</a></span>
            <img src="https://img.shields.io/badge/dynamic/json?color=c41011&label=%E7%B6%B2%E6%98%93%E9%9B%B2%E9%97%9C%E6%B3%A8&query=%24.data.totalSubs&url=https%3A%2F%2Fapi.spencerwoo.com%2Fsubstats%2F%3Fsource%3DneteaseMusic%26queryKey%3D275990862"
                height="23px" style="border-radius:none">
        </td>
    </tr>
    <tr>
        <td style="text-align:right">GitHub</td>
        <td><span class="big"><a href="https://github.com/kujihhoe/" target="_blank">kujihhoe</a></span></td>
    </tr>
    <tr>
        <td style="text-align:right">PGP</td>
        <td><span class="big"><a href="/kujihhoe (E2269D07) public.asc" target="_blank">E2269D07</a></span></td>
    </tr>
</table>