文章要求：

1. 學科範圍：文史哲、藝術、社科
2. 單篇字數以三千至三萬爲宜
3. 要有三百字左右的提要，作爲本文向公眾介紹時的簡介
4. 文章當爲<b>半學術</b>的，規範需清楚，行文需通暢，旣不可如學術論文令人望之畏然，又不可如網絡爆款令人讀之無味。文章風格可參照往期文章和 [AEON](https://aeon.co)
5. 使用繁體字；註釋用（隨文括注）
6. 推薦作者優先用筆名。投稿發送到 dingsi [at] kqh [dot] me

我們在力所能及的範圍內爲作者提供盡可能多的權益：

1. 獲得該訂閱週期的閱讀權限
2. 獲得三分當期紙版
3. 稿費：該週期淨利潤按照字數平分。
4. 可以開通 [at]kqh.me 郵箱，不過需要一點費用

另外，我們也會刊登讀者留言，歡迎讀者踴躍討論。除了<v>丁巳</v>，您也可以向赫赫文王其他欄目 [投稿](/invitation)。

創刊號將於 2022 年 9 月 1 日丁巳日發刊，主題是<v>天道</v>，這也是本刊的立刊宗旨。可供選擇的視角包括但不限於：周人的道德觀，先秦諸子的追求，古典文明對善的追求，中世紀對上帝的追求⋯⋯截稿日期：2022 年 8 月 20 日。

<v>丁巳</v>編輯部  
2022 年 1 月 1 日