<header class="nav-tab">
        <div>
                <h0><img class="logo-plus" src="/logo-plus.png">文王在天</h0>
        </div>
        <nav class="tab-wrap">                
                <span class='tab a1 a3 {{ if eq .RelPermalink "/dingsi/" }}active{{ end }}'><a
                                href="/dingsi/">丁巳</a></span>
                <span class='tab a1 a3 {{ if eq .RelPermalink "/product/" }}active{{ end }}'><a
                                href="/product/">周邊</a></span>
        </nav>
</header>