{{ range site.Data.gallery.performing }}
<div class="discover-grid">
  <div class="post-card" style="background-image: url({{ .img }})"></div>
  <div>
    <time class="des-base des-des a1">{{ .date }}</time>
    <div class="discover-item"><a href="{{ .Permalink }}" target="_blank">{{- .title | safeHTML | markdownify -}}</a>
    </div>
    <div class="des-base des-des">{{ .description | safeHTML | markdownify }}</div>
    <div class="des-base">{{ .quote | safeHTML | markdownify }}</div>
  </div>
</div>
{{ end }}