## 簡歷

我沒什麼拿得出手的漂亮履歷，以下內容看著都臉紅。

## 基本信息

柯棋瀚，1997 年 7 月生，四川成都人，北京师范大学历史学学士、中国史硕士，中国科学院自然科学史研究所博士研究生。

### 联系方式

<!-- - <bc>电子邮箱 & iMessage</bc> me [at] kqh [dot] me -->
<!-- - <bc>个人主页</bc> https://kqh.me -->
<!-- - <bc>通讯地址</bc> 北京市海淀区新街口外大街19号，邮编 100875 -->

### 教育经历

- <time>2009—2015</time> 中学：成都外国语学校
- <time>2015—2019</time> 本科：北京师范大学历史学院
- <time>2019—2022</time> 硕士：北京师范大学历史学院，专业：中国史，方向：经学史，导师：华喆副教授

## 学术经历

### 研究兴趣

我此前的研究兴趣是经学史，主要是《尚书》学史。

2021 年研究兴趣转向古代历法，初步全面学习了古代历法知识，制作了《中国古历编制器》 （详见下），并结合硕士论文，撰写了《周初古历表及其编程实现》一文。

我的硕士论文《清代〈尚书〉学的历算问题》将研究清代学者对《尚书》历日问题的认识。目前的初步认识有：在经学的视野下，历法不仅仅是历法，历法本身就是经学的一部分。比如刘歆以历释经，以历改经，用《三统历》调整日食分野；在郑玄对周初年数的安排问题上，不能仅仅用今古文来划分，他用《殷历》来排布周初史事，这就应当被独立地作为立论基础来看待。

### 论文发表

- 柯棋瀚《〈公羊传〉齐襄复仇事诠释史》，《唐山师范学院学报》2018 年第 5 期
- 柯棋瀚《雷次宗〈略注丧服经传〉疏议》，邓秉元主编《新经学》第四辑，上海人民出版社，2019 年 9 月
- 柯棋瀚《〈尚书·顾命〉“同瑁”辨析——兼论乾嘉汉学的困境与学术变革的尝试》，《中国经学》审稿中
- 柯棋瀚《周初古历表及其编程实现》，《中国科技史杂志》审稿中

### 科研项目

- <time>2016—2017</time> 校级本科生创新项目《北洋女子师范学堂年谱（1906—1928）》，主持人
- <time>2021</time> **中国古历编制器** https://cal.kqh.me ，可计算五十馀部中国古代历法，功能有朔闰、交食、日月位置、晷漏、日月不规则运动的计算，以及一些数学工具（调日法、演纪法、招差术、大衍求一术、大衍总数术、弧矢割圆术）的实现。未来将加入各历的五星计算。

### 工作坊

- <time>2018-07</time> 第六届中国史研习营，中国人民大学（通过率 20%）

### 读书班

- <time>2018—2019</time> 北京大学文研院《仪礼》读书班

## 奖励

### 硕士

- <time>2019-12</time> 北京师范大学 2019 年“大成国学基金研究生奖学金”（仅在北京大学、清华大学、北京师范大学设立）
- <time>2019-12</time> 硕士生新生一等奖学金
- <time>2020-12</time> 2019—2020 学年度研究生学业一等奖学金
- <time>2021-12</time> 2020—2021 学年度研究生学业一等奖学金

### 本科

- <time>2016-12</time>2015—2016 学年度京师二等奖学金
- <time>2016-12</time>北京师范大学 2015—2016 学年度社会工作奖
- <time>2017-12</time>2016—2017 学年度京师二等奖学金
- <time>2017-12</time> “白寿彝史学论著奖”三等奖《大树的生长——〈公羊传〉齐襄复仇事诠释史》
- <time>2018-07</time> 第二十六届“京师杯”课外学术科技作品竞赛三等奖《雷次宗〈略注丧服经传〉整理》（负责人）
- <time>2018-12</time> “白寿彝史学论著奖”三等奖《雷次宗的丧服学》

## 实践

### 实践经历

- <time>2016-07</time> 赴云南德宏参加“户撒刀锻造工艺”暑期社会实践
- <time>2016—2017</time> 北京师范大学历史学院春秋学社副社长、《春秋学刊》副主编
- <time>2017—2018</time> 北京师范大学松风琴社社长

### 专业技能

英语：

- <time>2016-06</time> 四级 `550` <time>2016-12</time> 六级 `476`
- <time>2021-09</time> 雅思总分 `6.5`，听力 `6.5`、阅读 `7.0`、写作 `6.0`、口语 `6.0`

计算机：

- JavaScript 的简单应用
- React.js 的简单应用
