{{ $current := . }}
{{ $articles := where (where site.RegularPages ".Title" "!=" $current.Title) "Type" "in" site.Params.Sections3 }}
{{ $3relevant := slice }}
{{ $4relevant := slice }}
{{ $6relevant := slice }}
{{ $7relevant := slice }}
{{ $9relevant := slice }}
{{ $10relevant := slice }}
{{ $13relevant := slice }}
{{ $recommend := slice }}
{{ $5recommend := slice }}
{{ $10recommend := slice }}
{{ $20recommend := slice }}
{{ $30recommend := slice }}
{{ $6to10recommend := slice }}
{{ $6to20recommend := slice }}
{{ $11to20recommend := slice }}
{{ $21to30recommend := slice }}

{{ range $article := $articles }}

{{ $1intersection := len (intersect $article.Params.series $current.Params.series) }}
{{ $1weighted := mul 4 $1intersection }}
{{ $2intersection := len (intersect $article.Params.category $current.Params.category) }}
{{ $2weighted := mul 3 $2intersection }}
{{ $3intersection := len (intersect $article.Params.tag $current.Params.tag) }}
{{ $3weighted := mul 3 $3intersection }}
{{ $4weighted := add $1weighted $2weighted }}
{{ $5weighted := add $3weighted $4weighted }}

{{ if (ge $5weighted 13) }}
{{ $13relevant = $13relevant | append $article }}
{{ else if (ge $5weighted 10) }}
{{ $10relevant = $10relevant | append $article }}
{{ else if (eq $5weighted 9) }}
{{ $9relevant = $9relevant | append $article }}
{{ else if (eq $5weighted 7) }}
{{ $7relevant = $7relevant | append $article }}
{{ else if (eq $5weighted 6) }}
{{ $6relevant = $6relevant | append $article }}
{{ else if (eq $5weighted 4) }}
{{ $4relevant = $4relevant | append $article }}
{{ else if (eq $5weighted 3) }}
{{ $3relevant = $3relevant | append $article }}
{{ end }}

{{ end }}

{{ range $13relevant }}
{{ $recommend = $recommend | append . }}
{{ end }}
{{ range $10relevant }}
{{ $recommend = $recommend | append . }}
{{ end }}
{{ range $9relevant }}
{{ $recommend = $recommend | append . }}
{{ end }}
{{ range $7relevant }}
{{ $recommend = $recommend | append . }}
{{ end }}
{{ range $6relevant }}
{{ $recommend = $recommend | append . }}
{{ end }}
{{ range $4relevant }}
{{ $recommend = $recommend | append . }}
{{ end }}
{{ range $3relevant }}
{{ $recommend = $recommend | append . }}
{{ end }}

{{- range shuffle (first 5 $recommend) -}}
{{ $5recommend = $5recommend | append . }}
{{ end }}
{{- range shuffle (first 10 $recommend) -}}
{{ $10recommend = $10recommend | append . }}
{{ end }}
{{ range shuffle (first 20 $recommend) }}
{{ $20recommend = $20recommend | append . }}
{{ end }}
{{ range shuffle (first 30 $recommend) }}
{{ $30recommend = $30recommend | append . }}
{{ end }}
{{ $6to10recommend = $10recommend | complement $5recommend | shuffle }}
{{ $6to20recommend = $20recommend | complement $5recommend | shuffle }}
{{ $11to20recommend = $20recommend | complement $10recommend | shuffle }}
{{ $21to30recommend = $30recommend | complement $20recommend | shuffle }}

{{ $current := slice }}
{{ $current = $current | append . }}
{{ $others := (where site.RegularPages "Type" "in" site.Params.Sections3) | complement $current $recommend | shuffle }}
<nav class="section bggray">
  <div class="u-wrap">
    <div class="discover-wrap" style="margin:0em auto -2em">
      <div class="discover column4 a1">
        {{ if ge (len $recommend) 21 }}

        {{- range first 3 $recommend | shuffle -}}
        {{ partial "recommendation-sub.html" . }}
        {{ end }}
        {{- range first 2 $6to20recommend | shuffle -}}
        {{ partial "recommendation-sub.html" . }}
        {{ end }}
        {{- range first 2 $21to30recommend | shuffle -}}
        {{ partial "recommendation-sub.html" . }}
        {{ end }}

        {{ else if ge (len $recommend) 11 }}
        {{- range first 3 $recommend | shuffle -}}
        {{ partial "recommendation-sub.html" . }}
        {{ end }}
        {{- range first 2 $6to10recommend | shuffle -}}
        {{ partial "recommendation-sub.html" . }}
        {{ end }}
        {{- range first 2 $11to20recommend | shuffle -}}
        {{ partial "recommendation-sub.html" . }}
        {{ end }}

        {{ else if le (len $recommend) 10 }}
        {{- range first 7 $recommend | shuffle -}}
        {{ partial "recommendation-sub.html" . }}
        {{ end }}
        
        {{ end }}

        {{ range first 1 $others | shuffle }}
        {{ partial "recommendation-sub.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</nav>