{{ $count := 0 }}
<div class="u-wrap">
  <div class="discover-wrap">
    <div class="discover a1">
      {{ range site.Data.gallery.article }}
      <div class="discover-grid">
        <div class="post-card paper" style="background-image: url({{ .img }})">
          <div class="archive-left">{{ $count = add $count 1 }}{{ $count }}</div>
        </div>
        <div>
          <time class="des-base des-des a1">{{ .productiontime }}</time><code class="des-step">{{ .category }}</code>
          <div class="discover-item">{{- .title | safeHTML | markdownify -}}</div>
          <div class="des-base des-des">{{ .description | safeHTML | markdownify }}</div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>